.poster {
  @extend .position-relative;
  @extend .width-100;
  @extend .height-100;
  @extend %bgcover;
  background-image: url(../img/poster.jpg);
  background-color: $white;
  background-position: center center;
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
  }

  > .grid-container {
    @extend .position-relative;
    @extend .height-100;
    z-index: 9;
  }
}

.black-mask {
  @extend .position-absolute;
  @extend .width-100;
  @extend .height-100;
  @extend %top-left;
  z-index: 1;
  background-color: rgba($white, .5);

  &::before {
    @extend %before-block-absolute;
    @extend %top-left;
    @extend .width-100;
    @extend .height-100;
    background: transparent;
    background: -moz-linear-gradient(top, transparent 0%, $white 80%, $white 30%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(90%, $white), color-stop(30%, $white));
    background: -webkit-linear-gradient(top, transparent 0%, $white 90%, $white 30%);
    background: -o-linear-gradient(top, transparent 0%, $white 90%, $white 30%);
    background: -ms-linear-gradient(top, transparent 0%, $white 90%, $white 30%);
    background: linear-gradient(to bottom, transparent 0%, $white 90%, $white 30%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
  }
}

.brand-content {
  h1 {
    @extend .display-inline-block;
    color: $primary-color;
    text-transform: uppercase;
    border: 8px solid $primary-color;
    font-weight: 700;
    padding: rem-calc(10 20);
    font-size: rem-calc(52);

    span {
      color: $success-color;
    }
  }

  h2 {
    @extend %mansalva;
    margin-top: rem-calc(10);
    color: $secondary-color;
  }

  @include breakpoint(medium up) {
    h1 {
      font-size: rem-calc(92);
    }
  }
}

.poster-menu {
  @extend .padding-top-1;
  @extend .position-absolute;
  @extend .width-100;
  @extend %top-left;
  z-index: 11;
}

.main-menu {
  a {
    text-transform: uppercase;
    color: $secondary-color;
    @extend .position-relative;
    @extend .display-inline-block;
    @extend .margin-left-1;
    font-weight: 500;

    &:before {
      @extend %before-block-absolute;
      left: 0;
      top: 48%;
      width: rem-calc(10);
      height: 1px;
      background-color: $secondary-color;
      transition: background-color .3s linear;
    }

    &:hover {
      color: $success-color;

      &:before {
        background-color: $success-color;
      }
    }
  }
}

.lang-menu {
  a {
    opacity: .5;
    font-size: rem-calc(24);
    transition: opacity .3s linear;

    &:hover {
      opacity: 1;
    }
  }
}

.section-down {
  @extend .position-absolute;
  bottom: 0;
  left: 0;
  @extend .padding-bottom-1;
  z-index: 99;
  @extend .width-100;
}

.scroll-downs {
  display: none;
  @include breakpoint(large up) {
    display: inline-block;
  }
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 28px;
  border: 2px solid rgba($primary-color, .5);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 6px;
  border-radius: 25%;
  background-color: $primary-color;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}