<header id="header">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-middle">
            <div class="cell auto lang-menu">
                <ul class="menu">
                    <li><a href="#" title="Ir para o nosso Instagram" class="padding-right-0 padding-left-0"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" title="Visite nosso canal no YouTube"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="cell shrink text-center" data-magellan>
                <a href="#home" class="header-logo" title="Voltar para o topo">J3W<span>.</span></a>
            </div>
            <div class="cell auto text-right">
                <a href="#" class="display-inline-block" data-toggle-menu><i class="fas fa-bars"></i></a>
            </div>
        </div>
    </div>
</header>