<div class="position-fixed width-100 height-100 menu-mobile" role="navigation">
    <nav>
        <ul class="menu vertical align-center" data-magellan>
            <li><a href="#services" title="Serviços" data-toggle-menu>Serviços</a></li>
            <li><a href="#contact" title="Contato" data-toggle-menu>Contato</a></li>
        </ul>
    </nav>

    <button class="close-button" aria-label="Fechar menu" type="button" data-toggle-menu>
        <span aria-hidden="true">&times;</span>
    </button>
</div>