<section class="poster" role="banner">
    <video poster="{{root}}assets/img/poster.jpg" id="bgvid" playsinline autoplay muted
           loop>
        <source src="{{root}}assets/img/bgvideo.mp4" type="video/mp4">
    </video>
    <div class="black-mask"></div>

    <div class="poster-menu" role="navigation">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell auto"></div>
                <div class="cell auto">
                    <ul class="menu align-right">
                        <li><a href="#" title="Serviços" rel="contents">Serviços</a></li>
                        <li><a href="#" title="Contato" rel="contents">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-x grid-padding-x align-middle height-100">
            <div class="cell small-12 text-center brand-content">
                <h1>J3W<span>.</span></h1>
                <h2>UX com excelência</h2>
            </div>
        </div>
    </div>
</section>